.banner-my-jungle {
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("banner2.jpg");
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}

.jungle-content {
  margin-left: 40px;
  margin-right: 40px;
}

.jungle-header {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.jungle-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 0px;
  margin-right: 0px;
}

.seed-status-container {
  display: flex;
  margin: 25px 30px 25px 30px;
  align-items: center;
}
.seed-status-container .btn-add-container {
  margin-left: auto; /*new*/
}

.seed-status-text {
  margin-left: 20px;
  text-decoration: none;

}


.seed-status-text > p {
  margin-bottom: 0px;
}
