h2 {
  text-align: center;
}
.banner-my-seeds {
  // background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("seeds.jpeg");
  height: 625px;
  background-position: center;
  background-size: cover;
}

.user-profile-header {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgb(30,30,30);
  padding-top: 100px;
}

.avatar-profile {
  border-radius: 50%;
  border: 2px solid rgb(220,220,220);
  box-shadow: 1px 1px 5px rgb(30,30,30)
}

.level {
  color: white;
  text-shadow: 1px 1px 2px rgb(30,30,30);
}
.current-seeds {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgb(30,30,30);
}

.progress {
  width: 500px;
  margin: auto;
  height: 25px;
  font-size: 18px;
  position: relative;
  overflow: visible !important;
  border-radius: 3px;
}
.w3-container {
  border-radius: 5px;
  margin: auto;
  width: 500px;
  // align-self: center;
  // justify-content: center;
}
.w3-green {
  align-left: 0px;
  border-radius: 5px;
}

.w3-light-grey {
  border-radius: 5px;
  margin: auto;

}

.progress-bar {
  position: absolute;
  height: 98%;
  border-radius: 3px;
}

.level-line {
  // align: center;
  // width: 500px;
  position: relative;
  margin-top:-20px;
  z-index: 1;
  font-size:12px;
}

.label-txt {
  float: left;
  position: absolute;
}

.label-line {
  float: right;
  background: #000;
  height:50px;
  width: 1px;
  margin-left: -4px;
  opacity: 0.3;
}

.content-block{
  display: flex;
}
.calendar-block {
  text-align: center;
  padding-top: 30px;
  width: 50%;
  margin-top: 24px;
  height: 650px;
  margin-right: 10px;
}
#calendar {
  margin: auto;
  width: 500px;
  height: 400px;

    button {
      background-color: #56884C;
      background-image: none;
      border: 1px rgb(200,200,200);
      color: white;

      span {
        color: white;
      }

    }

    button:hover {
      background-color: #56884C;
      opacity: 0.8;
      transition: 0.3s;
    }

    .fc-day:hover {
      background-color: rgb(200,200,200);
      transition: 0.3s;
    }
}

.rewards-cards-container {
  // padding-top: 60px;
  margin: auto;
  justify-content: space-between;
  text-align: center;
  // display: grid;
  width: 50%;
}

.column {
  margin: auto;
  padding: 30px;
}

.row {
  margin: auto;
}

.reward-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-width: 180px;
  max-width: 180px;
  height: 220px;
  border-radius: 15px;
  text-align: center;
    h2 {
      font-size: 20px;
    }
    img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    position: center;
  }
}
.locked {
  filter: brightness(50%) blur(1px);
  img {
    filter: blur(3px);
  }
}

// .locked:hover {
//   background-image: url('./images/lock-solid.svg');
// }

.reward-card:hover {
  transform: scale(1.05);
  transition: 0.1s;
}
