h2 {
  text-align: center;
}
.banner-my-seeds {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("seeds.jpeg");
  height: 700px;
  background-position: center;
  background-size: cover;
}

.user-profile-header {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgb(30,30,30);
  padding-top: 100px;
}

.avatar-profile {
  border-radius: 50%;
  border: 2px solid rgb(220,220,220)
}

.level {
  color: white;
  text-shadow: 1px 1px 2px rgb(30,30,30);
}
.current-seeds {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgb(30,30,30);
}

.progress {
  width: 500px;
  margin: auto;
  height: 25px;
  font-size: 18px;
}
.w3-container {
  border-radius: 5px;
  margin: auto;
  width: 500px;
  // align-self: center;
  // justify-content: center;
}
.w3-green {
  align-left: 0px;
}

.w3-light-grey {
  border-radius: 5px;
  margin: auto;

}

#calendar {
  width: 400px;
  height: 400px;
}
