h2 {
  text-align: center;
}
.banner-my-seeds {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("seeds.jpeg");
  height: 625px;
  background-position: center;
  background-size: cover;
}

.user-profile-header {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgb(30,30,30);
  padding-top: 100px;
}

.avatar-profile {
  border-radius: 50%;
  border: 2px solid rgb(220,220,220)
}

.level {
  color: white;
  text-shadow: 1px 1px 2px rgb(30,30,30);
}
.current-seeds {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgb(30,30,30);
}

.progress {
  width: 500px;
  margin: auto;
  height: 25px;
  font-size: 18px;
  position: relative;
  overflow: visible !important;
}
.w3-container {
  border-radius: 5px;
  margin: auto;
  width: 500px;
  // align-self: center;
  // justify-content: center;
}
.w3-green {
  align-left: 0px;
  border-radius: 5px;
}

.w3-light-grey {
  border-radius: 5px;
  margin: auto;

}

.progress-bar {
  position: absolute;
  height: 98%;
  border-radius: 5px;
}

.level-line {
  // align: center;
  // width: 500px;
  position: relative;
  margin-top:-20px;
  z-index: 1;
  font-size:12px;
}

.label-txt {
  float: left;
  position: absolute;
}

.label-line {
  float: right;
  background: #000;
  height:50px;
  width:1px;
  margin-left: 5px;
}

.calendar-block {
  width: 50%;
  margin-top: 24px;
  height: 650px;

}
#calendar {
  margin: auto;
  width: 500px;
  height: 400px;
    button {
      background-color: rgb(220,220,220);
      background-image: none;
      border: 1px rgb(200,200,200);
    }

    button:hover {
      background-color: rgb(180,180,180);
      transition: 0.3s;
    }

    .fc-day:hover {
      background-color: rgb(200,200,200);
      transition: 0.3s;
    }

}
