<h1>Add a new plant to your jungle</h1>
<h1>Add a new plant to your jungle</h1>
<h3>
  First select the plant type
</h3>

<ul>
  <% @plant_types.each do |plant_type| %>
  <li>
  <%= link_to plant_type.name, new_plant_path(plant_type: plant_type.id) %>
  </li>
  <% end %>
</ul>
