    <br>
<br>
<br>
<br>
    <div class="search-form">
    <form action="/users" method="get" class="form-inline my-2 my-lg-0">
      <input name="navsearch" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0 btn-primary" type="submit" ><i class="fas fa-search"></i></button>
    </form>
  </div>


<% @users.each do |user| %>


<li>
  <%= render './shared/user-avatar', user: user %> <%= user.firstname %> <%= user.lastname %>
</li>

<% end %>

