<div class="banner-my-seeds">
  <div class="user-profile-header">
      <%= cl_image_tag current_user.photo, class: "avatar-profile" %>
      <h1><%= @user.firstname%> <%= @user.lastname%></h1>
  </div>
</div>
<div class="profile-content">
  <div class="level">
    <h2>Level: 3</h2>
  </div>
  <div class="current-seeds">
      <h2>Seeds</h2>
      <p>1234 seeds</p>
  </div>
</div>
