<div class="card-plant">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2> Plant Nickname</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <!-- this if statement needs to be update - if needs watered -->
    <% if [true, false].sample %>
     <i class="fas fa-tint water-logo"></i>
    <% end %>
  </div>
</div>
