
<div class="reward-card">
  <div class="reward-img" width="260" height="260">
    <%= image_tag "reward.jpg" %>
  </div>
  <div class="card-trip-infos">
    <div>
      <h2> Reward</h2>
      <p> Reward description</p>

    </div>
  </div>
</div>
