<body>
  <div class="main-container">
    <div class="banner">
      <div class="header">
        <h1>Extend the life of your plants while earning rewards</h1>
      </div>
    </div>
    <div class="How-it-works">
      <h2>How it works</h2>
        <div class="steps">
          <div class="step">
            <h4>Create your Jungle</h4>
            <p>Sign up and start adding your plants to your personal jungle</p>
          </div>
          <div class="step">
            <h4>Set goals</h4>
            <p>Set goals and keep your plants alive by following your watering calendar</p>
          </div>
          <div class="step">
            <h4>Earn rewards</h4>
            <p>You'll recieve notifications of tasks that need to be done for your plants. Once completed, you'll earn seeds that could get you rewards</p>
          </div>
        </div>
    </div>
  </div>
</body>
