<div class="banner-plants">
  <div class="plants-header">
    <h1>
      Add a plant to your jungle
    </h1>
    <h3>
      Select the type of plant you would like to add
    </h3>
    <% if current_user.user_plants.any? %>
      <%= link_to "Visit jungle", user_plants_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="plant-container">
  <div class="cards">
    <%= render './shared/plant-card' %>
  </div>
</div>
