<div class="banner-my-jungle">
  <div class="jungle-header">
    <h1>Your Jungle</h1>
  </div>
</div>

<% if @user_plants.first.needs_water?%>
  <p>water</p>
<% end %>

<div class="jungle-content">
  <div class="seed-status-container">
    <%= render './shared/user-avatar' %>
    <div class="seed-status-text">
      <p> <%= current_user.firstname %></p>
      <h5>1,785 seeds!</h5>
    </div>
    <div class="btn-add-container">
      <button type="button" class="btn btn-primary">Add Plant</button>
    </div>
  </div>
  <div class="jungle-card-container">
    <% @user_plants.each do |plant| %>
      <%= render 'shared/user-plant-card', plant: plant  %>
    <% end %>
  </div>
</div>



<!-- <div id="modal-show" class="popup">
  <div class="popup_content">
    <p>Some content</p>
  </div>
  <a href="/plants" class="popup_close popup-booking">X</a>
  </div>
</div> -->
