
.navbar{
  position: fixed;
  width: 100%;
  z-index: 9999;
  padding: 4px 8px;
  background-color: rgb(230,230,230);
  margin-top: -47px;

}
.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 20px;
}

.logo-txt {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  margin-left: 10px;
  // color: #B5DDA4;
  color: #7F9B73;
}

#logo {
  font-size: 20px;
  // color: #B5DDA4;
  color: #7F9B73;
  margin-left: 10px;
}

#nav-left-side {
  display: flex;
}

#hover-pointer {
  cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
  color: #7F9B73;
}

.nav-item {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-right: 10px;
}
