.reward-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-width: 260px;
  max-width: 260px;
  height: 300px;
  margin: 30px;
  border-radius: 15px;
}

.reward-img {
  width: 260px

}
